/* Estilos para el fondo del login */
.login-background {
  background-image: #FFF;
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: brightness(.2) ; /* Aplica un filtro de desenfoque al fondo */
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 10%;
}


.login-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
  /*Sombras*/
  box-shadow: 3px 5px 10px 1px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: 600;
}

.login-form {
  margin-top: 20px;
}

/* Resto de estilos como antes */
