<app-nav-bar></app-nav-bar>
<div class="login-container">
  <div class="login-background"></div>
  <mat-card class="login-card">
    <mat-card-header>
      <div class="logo-container">
        <img src="../../../assets/aguila.png" class="logo-img" alt="logo" />
        <span class="logo-text">INICIAR SESION</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>
        <div class="d-flex align-items-center m-b-12">
          <mat-checkbox color="primary" style="margin-right: 10px;">Recordar</mat-checkbox>
          <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Olvidaste la clave?</a>
        </div>
        <button mat-flat-button color="primary" class="w-100" type="submit">Iniciar Sesión</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
