/* Agrega estos estilos en tu archivo .scss o .css */

.container {
    margin-top: 20px;
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-select {
    width: 100%;
    margin-bottom: 15px;
  }
  .carreras{
    // Borde, sombra, padding, etc.
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    padding: 10px;  
  }

  .carreras:hover{
    //Click en el elemento
    background-color: #ccc;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn {
    margin-right: 10px;
  }
  