<!-- Section: Design Block -->
<section class="text-center text-lg-start full">

  <!-- Tab Navigation -->
  <ul class="nav nav-tabs justify-content-center" id="myTabs">
    <li class="nav-item">
      <a class="nav-link active" id="carreras-tab" data-bs-toggle="tab" href="#carreras">Carreras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="facultades-tab" data-bs-toggle="tab" href="#facultades">Facultades</a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">
    <!-- Carreras Tab -->
    <div class="tab-pane fade show active" id="carreras">
      <div class="container py-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-1">
            <div class="card cascading-right" style="
                min-width: 32vw;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
              ">
              <div class="card-body p-6 text-center">
                <h2 class="fw-bold mb-5">CARRERAS</h2>
                <!-- Combo para seleccionar Carrera -->
                <div class="mb-3">
                  <label for="selectedCarrera" class="form-label">Selecciona una carrera</label>
                  <select class="form-select" id="selectedCarrera" name="selectedCarrera">
                    @for (carrera of carreras ; track carrera.id ) {
                      <option value="{{carrera.id}}">{{ carrera.nombre }}</option>
                    }
                  </select>
                </div>

                <!-- Textbox id (disabled) y nombre bootstrap-->
                <div class="mb-3">
                  <label for="id" class="form-label">ID</label>
                  <input type="text" class="form-control" id="id" name="id" disabled>
                </div>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>

                <!-- Botones para añadir y eliminar carreras -->
                <button type="button" class="btn btn-primary" (click)="agregarCarrera()">Añadir Carrera</button>
                <button type="button" class="btn btn-danger" (click)="eliminarCarrera()">Eliminar Carrera</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Facultades Tab -->
    <div class="tab-pane fade show" id="facultades">
      <div class="container py-4">
        <div class="row g-0 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-1">
            <div class="card cascading-right" style="
                min-width: 32vw;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
              ">
              <div class="card-body p-6 text-center">
                <h2 class="fw-bold mb-5">FACULTADES</h2>
                <!-- Combo para seleccionar Facultad -->
                <div class="mb-3">
                  <label for="selectedFacultad" class="form-label">Selecciona una facultad</label>
                  <select class="form-select" id="selectedFacultad"  name="selectedFacultad">
                    @for (facultad of facultades ; track facultad.id ) {
                      <option value="{{facultad.id}}">{{ facultad.nombre }}</option>
                    }
                  </select>
                </div>

                <!-- Textbox id (disabled) y nombre bootstrap-->
                <div class="mb-3">
                  <label for="id" class="form-label">ID</label>
                  <input type="text" class="form-control" id="id"  name="id" disabled>
                </div>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre"  name="nombre">
                </div>

                <!-- Botones para añadir y eliminar facultades -->
                <button type="button" class="btn btn-primary" (click)="agregarFacultad()">Añadir Facultad</button>
                <button type="button" class="btn btn-danger" (click)="eliminarFacultad()">Eliminar Facultad</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
