
<div class="container mt-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="toggleView('capturar')">Capturar</button>
      <button type="button" class="btn btn-primary" (click)="toggleView('consultas')">Consultas</button>
      <button type="button" class="btn btn-primary" (click)="toggleView('reportes')">Reportes</button>
    </div>

    @if (view === 'capturar') {
        <div class="time-container">
            <p class="date">{{ currentTime | date:'mediumDate' }}</p>
            <p class="time">{{ currentTime | date:'mediumTime' }}</p>
        </div>
      <form [formGroup]="capturasForm" (ngSubmit)="submitForm()" class="formulario">

        <div class="mb-3" >
              <label for="nombre" class="form-label">NOMBRE</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
        </div>

        <div class="mb-3" >
          <label for="apellidos" class="form-label">APELLIDOS</label>
          <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Apellidos">
        </div>
        <div class="mb-3" >
            <label for="matricula" class="form-label">MATRICULA</label>
            <input type="text" class="form-control" id="matricula" formControlName="matricula" placeholder="Matricula">
        </div>

        <div class="checks">
            <div class="mb-3">
                <label for="sexo" class="form-label">SEXO</label>
                <select class="form-select" id="sexo" formControlName="sexo">
                  <option value="MASCULINO">MASCULINO</option>
                  <option value="FEMENINO">FEMENINO</option>
                </select>
            </div>
          <!-- Combo para seleccionar Tipo de Usuario -->
            <div class="mb-3">
              <label for="TipoUsuario" class="form-label">TIPO USUARIO</label>
              <select class="form-select" id="TipoUsuario"  name="selectedTipoUsuario" formControlName="tipoUsuario">
                @for (usuario of tipoUsuarios ; track usuario.id ) {
                  <option value="{{ usuario.id }}"  >{{ usuario.nombre }}</option>
                }
              </select>
            </div>


            <!-- Combo Box con las carreras y facultades seleccionables -->
            <div class="mb-3">
                <label for="facultad" class="form-label">FACULTAD</label>
                <select class="form-select" id="facultad" formControlName="id_facultad">
                    @for (facultad of facultades; track facultades) {
                        <option value="{{facultad.id}}">{{facultad.nombre}}</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label for="carrera" class="form-label">PROGRAMA</label>
                <select class="form-select" id="carrera" formControlName="id_carrera">
                    @for (carrera of carreras; track carreras) {
                        <option value="{{carrera.id}}">{{carrera.nombre}}</option>
                    }
                </select>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      
      <!-- Poner el formulario de visitas para cuando sea algo rapido -->
      <form  [formGroup]="visitaForm" (ngSubmit)="submitVisita()" class="formulario">
          <!-- Un textbox para la matricula y un boton para el submit -->
          <div class="mb-3 visita" >
              <p> ¿YA ESTAS REGISTRADO?</p>
              <input type="text" class="form-control" id="matricula" formControlName="matricula" placeholder="Matricula">
              <button type="submit" class="btn btn-primary">Visitar</button>
          </div>
       
      </form>

    }

    @if (view === 'consultas') {

            <form [formGroup]="consultaForm" class="filtros">
              <!-- rango de fechas, por sexo, por facultad, por carrera, interno o externo  -->
                <div class="mb-3">
                    <label for="fechaInicio" class="form-label">Fecha inicio</label>
                    <input type="date" class="form-control" id="fechaInicio"  name="fechaInicio" formControlName="fechaInicio">
                </div>
                <div class="mb-3">
                    <label for="fechaFin" class="form-label">Fecha fin</label>
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" formControlName="fechaFin">
                </div>

                <div class="mb-3">
                    <label for="sexo" class="form-label">SEXO</label>
                    <select class="form-select" id="sexo" name="sexo" formControlName="sexo">
                      <option value="MASCULINO">MASCULINO</option>
                      <option value="FEMENINO">FEMENINO</option>
                      <option value="AMBOS">AMBOS</option>
                    </select>
                </div>

                    <!-- Combo para seleccionar Tipo de Usuario -->
                <div class="mb-3">
                  <label for="TipoUsuario" class="form-label">TIPO USUARIO</label>
                  <select class="form-select" id="TipoUsuario"  name="selectedTipoUsuario" formControlName="tipoUsuario">
                    <option value="">TODOS</option>
                    @for (usuario of tipoUsuarios ; track usuario.id ) {
                      <option value="{{ usuario.id }}"  >{{ usuario.nombre }}</option>
                    }
                  </select>
                </div>

                <div class="mb-3">
                    <label for="facultad" class="form-label">FACULTAD</label>
                    <select class="form-select" id="facultad" name="facultad" formControlName="id_facultad">
                      <option value="">TODAS</option>
                        @for (facultad of facultades; track facultades) {
                            <option value="{{facultad.id}}">{{facultad.nombre}}</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="carrera" class="form-label">CARRERA</label>
                    <select class="form-select" id="carrera" name="carerra" formControlName="id_carrera">
                        <!-- opcion todas sin valor -->
                        <option value="">TODAS</option>
                        @for (carrera of carreras; track carreras) {
                            <option value="{{carrera.id}}">{{carrera.nombre}}</option>
                        }
                    </select>
                </div>


            </form>
            <button type="button" class="btn btn-primary" (click)="applyFilters()">Buscar</button>
            <!-- Tabla de resultados -->
            <button type="button" class="btn btn-outline-success" (click)="exportarExcel()" style="float:right;">Exportar a Excel</button>
            <!--   -->
            <p class="count">Numero de Registros: {{filteredData.length}}</p>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Matricula</th>
                  <th>Sexo</th>
                  <th>Tipo Usuario</th>
                  <th>Facultad</th>
                  <th>Carrera</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredData">
                  <td>{{ item.id }}</td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.apellidos }}</td>
                  <td>{{ item.matricula }}</td>
                  <td>{{ item.sexo }}</td>
                  <td>{{ item.nombre_tipo_usuario }}</td>
                  <td>{{ item.nombre_facultad }}</td>
                  <td>{{ item.nombre_carrera}}</td>
                  <td>{{ item.fecha_visita}}</td>
                </tr>
              </tbody>
            </table>


    }

    @if (view === 'reportes') {
      
      <div class="btn-group fechasReportes">
        <div class="mb-3">
          <label for="fechaInicio" class="form-label">Fecha inicio Reporte</label>
          <input type="date" class="form-control" id="fechaInicio"  name="fechaInicio" [(ngModel)]="fecha_inicio_reporte">
        </div>
        <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha fin Reporte</label>
            <input type="date" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fecha_fin_reporte" >
        </div>
      </div>

      
      <!-- Ordenar los botones en un div, uno por cada consulta que se va aagregando hacia abajo -->
      <div class="btn-group reportes">
        <button type="button" class="btn btn-outline-secondary" (click)="CONCENTRADO_RDU()">CONCENTRADO DE REGISTRO DIARIO DE USUARIOS</button>
      </div>
    
    }

  

  </div>
