<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/inicio" class="navbar-brand">
      <div class="fondoLogo">
        <img src="../../../assets/aguila.png" alt="logo" class="logo-img" style="max-width: 150px">
      </div>
    </a>
    <div class="fondoLogo2">
      <img src="../../../assets/Logo_vision_de_futuro_2025.png" alt="logo" class="logo-img" style="max-width: 150px">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="bluebar">
  <h1>UNIVERSIDAD AUTONOMA DE SINALOA</h1>
</div>
<div class="goldbar"></div>
