<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-12">
      <div class="row">
        <div class="col-12">
          <!-- Header -->
          <app-header></app-header>
        </div>
        <div class="col-12">
          <!-- Router Outlet -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
