<div id="wrapper">
    <div fluid class="p-0">
        <div class="m-0">
            <div cols="12" class="p-0">
                <div class="d-none d-lg-block">
                    <div class="container-fluid header-superior">
                        <div class="header-logo-uas">
                            <img src="../../assets/aguila.png" >
                        </div>
                        <div class="header-logo-consolidacion">
                            <img src="../../assets/Logo_vision_de_futuro_2025.png" >
                        </div>
                        <div class="col-14 text-left">
                            <h2 class="header-titulo-superior">DEPARTAMENTO DE BIBLIOTECAS MOCHIS</h2>
                        </div>
                    </div>
                    <div class="container-fluid header-inferior">
                        <h1 class="header-titulo-inferior text-center">Universidad Autónoma de Sinaloa</h1>
                    </div>
                </div>
                <div fluid class="header-fondo-menu">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
